	.navbar-brand {
    padding-top: 15px;
	}
	.nav.navbar-nav{
		display: inline;
	}

	a.navbar-brand {
    position: relative;
    left: -200px;
	}
	ul.nav.navbar-nav.navbar-right {
    position: relative;
    left: 296px;
	}